<!-- Start Breadcrumbs -->
<!-- <app-breadcrumbs title="DASHBOARD" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs> -->
<!-- End Breadcrumbs -->

<style>
    .border{
        border: 1px solid ;
        min-height:100px;
    }
</style>
<div class="row">

    <div class="col-1 border"></div>
    <div class="col-1 border"></div>
    <div class="col-1 border"></div>
    <div class="col-1 border"></div>
    <div class="col-1 border"></div>
    <div class="col-1 border"></div>
    <div class="col-1 border"></div>
    <div class="col-1 border"></div>
    <div class="col-1 border"></div>
    <div class="col-1 border"></div>
    <div class="col-1 border"></div>
    <div class="col-1 border"></div>

</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
